@import url("1-10 Scale Format.css");

.secondary {
	background: none;
	color:black;
}

.main{
	background: blue;
	font-size: large;
}

.ublogo{
	background: darkblue;
	padding: 10px;
}

.twoption{
	right: 40px;

}

.checked {
    color: orange;
}

#TA_desc{
   display: none;
}